img {
    margin-top: 25%;
    align-items: center;
}

div {
    margin-bottom: 10px !important;
}

.header {
    text-align: center;
    font-size: 20px;
}
.verdieping {
    text-align: left;
    font-size: 20px;
}

