<ion-header>
  <ion-toolbar>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Categorie beheer</ion-title>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="categoryForm" (ngSubmit)="uploadSubmit()" id="formCategory">
    <div>
        <p class="center">Categorie Toevoegen</p>
    </div>
    <hr>

    <ion-item>
        <ion-label position="floating">Naam categorie: </ion-label>
        <ion-textarea required inputmode="text" formControlName="name"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Beschrijving categorie: </ion-label>
        <ion-textarea inputmode="text" formControlName="description"></ion-textarea>
    </ion-item> 
    <div class="center">
    <ion-button class="btn btn-primary" class="footerBtn" color="success" size="default" type="submit">Toevoegen</ion-button>
  </div>
</form>

  
    <div>
        <p class="center">Categorie Verwijderen</p>
    </div>
    <hr>
    <div class="select">
      Kies een categorie: 
    <select class="custom-select" [(ngModel)]="selectedLevel" (change)="selected()">
      <option></option>
      <option *ngFor="let c of categories" >{{c.name}}</option>
    </select>
  </div>
  <div class="center">
    <ion-button class="btn btn-primary" class="footerBtn" color="danger" size="default" (click)="deleteCategory($event)">Verwijder</ion-button>
  </div>
    <div>
      <p class="center">Huidige Categorieën</p>
  </div>
  <hr>
<div class="table-div">
<table class="redTable">
  <thead>
  <tr>
  <th>Naam</th>
  <th>Beschrijving</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of categories">
    <td>{{c.name}}</td>
    <td>{{c.description}}</td>
  </tr>
  </tbody>
  </table>
</div>




  </ion-content>
