.header {
  text-align: center;
  font-size: 20px;
}
table, td, th {
    border: 1px solid black;
  }
  

  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 50px;
  }

  .head {
    font-weight: bold;
  }

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
ion-button {
  margin: auto;
  align-self: center;
}

div.center {
  margin: auto;
  width: 5%;
  padding: 10px;
}

  p.center {
    margin-left:auto; 
    margin-right:auto;
    font-weight: bold;
    text-align: center;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }

  div.select {
    margin: auto;
    width: 25%;
    padding: 10px;
  }

  div.table-div {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

  table.redTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 0px solid #F52F2F;
    background-color: #EEE1E1;
    width: 100%;
    text-align: left;
  }
  table.redTable td, table.redTable th {
    border: 1px solid #F52F2F;
    padding: 3px 10px;
  }
  table.redTable tbody td {
    font-size: 13px;
  }
  table.redTable tr:nth-child(even) {
    background: #FFCACA;
  }
  table.redTable thead {
    background: #F52F2F;
    background: -moz-linear-gradient(top, #f76363 0%, #f64343 66%, #F52F2F 100%);
    background: -webkit-linear-gradient(top, #f76363 0%, #f64343 66%, #F52F2F 100%);
    background: linear-gradient(to bottom, #f76363 0%, #f64343 66%, #F52F2F 100%);
    border-bottom: 0px solid #444444;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: normal;
    color: #F0F0F0;
    text-align: center;
    border-left: 0px solid #F52F2F;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }
  
  table.redTable tfoot td {
    font-size: 13px;
  }


  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#F52F2F;
    height: 1px;
  }
  