#centerke {
    ion-slides {
        margin-top: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    @media screen and (min-width: 576px) {
        // browser
        // width: 650px;
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        // box-shadow: 10px 10px 5px grey;
        // background-color: #ffffff;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    @media (max-width: 576px) {
        // mobile
        box-shadow: 10px 10px 5px grey;
        background-color: #ffffff;
    }
    .card {
        margin-top: 50px !important;
    }
}