.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.title {
    text-align: center;
}

#edit-icon {
    font-size: 18px;
    padding-left: 25px;
}

#detailmelding {
    margin-top: 40px;
    #itemke:nth-child(n+2) {
        margin-left: 41%;
        .profilepicposition {
            position: absolute;
            // right: 0%;
            right: 3%;
            bottom: 20%
        }
    }
    .afbeeldingCard {
        margin-top: 30px;
        font-size: 25px;
    }
    .wrap-text {
        overflow: visible;
        text-overflow: unset;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-all;
        // margin-right: 20px;
        margin-right: 32px;
    }
    ion-slides {
        //margin-top: 10%;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    ion-list {
        margin-top: 10%;
    }
    @media screen and (min-width: 576px) {
        // browser
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 576px) {
        // mobile
        box-shadow: 10px 10px 5px grey;
        background-color: #ffffff;
    }
    .card {
        margin-top: 50px !important;
    }
    input {
        float: left;
        height: 50px;
        border-radius: 15px;
        font-size: 1.5em;
        margin-top: 10%;
        width: 90%;
    }
    .send {
        float: right;
        // background: url("../../assets/imgs/send.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        margin-left: -1px;
        margin-top: 10%
    }
    .chat-container {
        margin-left: 43%;
        .socketAvatar {
            margin-left: 90%;
            // margin-bottom: -15%;
        }
    }
    .localItem {
        // margin-left: -5%;
        margin-left: -10%;
    }
    .localvalues {
        margin-left: -95%;
        // margin-left: -85%;
        line-height: 90%;
    }
    .sub {
        color: #666666;
    }
    ion-select {
        width: 30%;
    }
}