<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>detailMelding</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div>
        <p>{{meldingData.melder}}</p>
        <p>{{meldingData.datum}}</p>
        <p>{{meldingData.type}}</p>
        <p>{{meldingData.locatie}}</p>
        <p>{{meldingData.beschrijving}}</p>
        <p>{{meldingData.locatiebeschr}}</p>
    </div>

</ion-content>