<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <!-- <img src="./assets/icon/apicon.png" width="40px" style="display:inline-block" height="40px"/> -->
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Meldingen
        </ion-title>
    </ion-toolbar>

</ion-header>


<ion-content class="bg" [fullscreen]="true">

    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>

    <div id="filter">
        <ion-list id="sortingList">
            <ion-item>
                <ion-label>Sorteer op:</ion-label>
                <ion-select [(ngModel)]="sortVal" placeholder="" (ionChange)="sortAll()">
                    <ion-select-option value="datum">Datum</ion-select-option>
                    <ion-select-option value="type">Type</ion-select-option>
                    <ion-select-option value="locatie">Locatie</ion-select-option>
                    <ion-select-option value="status">Status</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div id="toggleOD">
            <p>Opdracht</p>
            <ion-toggle color="danger" [(ngModel)]="toggle" (ionChange)="toggleOpdDef()"></ion-toggle>
            <p>Defect</p>
        </div>
    </div>
    <br />
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let ml of kopieLijstVanMeldingen;let i = index;" id="kaart">
                <ion-card>
                    <ion-item>
                        <ion-icon name="ellipse" slot="start" [ngStyle]="{'color': colorStatus(ml.status)}"></ion-icon>
                        <ion-label> {{ml.reporter}} - {{ml.pNumber}}</ion-label>
                        <ion-button style:color="danger" color="danger" fill="outline" type="button" (click)="detailMelding(ml)">View
                        </ion-button>
                        <ion-button style="zoom:1.5;" color="danger" slot="end" type="button" [disabled]="!isEnabled" (click)="onAssignClick(ml.id, i)">
                            <ion-icon name="clipboard-outline"></ion-icon>
                        </ion-button>
                        <ion-button style="zoom:1.5;" color="danger" slot="end" type="button" (click)="deleteMelding(i,$event,ml)" class="btn btn-danger remove-btn">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>

                    <ion-card-content class="meldinggrid">
                        <div class="box1">
                            <div class="description">
                                <p>{{ml.date | date:'dd/MM/yy-HHumm'}}</p>
                                <p>{{ml.location}}</p>
                                <p> {{ml.type}}</p>
                                <p> {{ml.description}}</p>
                                <p> {{ml.locationDescription}}</p>
                            </div>
                            <div class="upvote">
                                <p>{{ ml.numberUpvotes }}</p>
                                <ion-button color="danger" icon-only *ngIf="!ml.upvoted" (click)="onIconClick(ml, i)">
                                    <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
                                </ion-button>
                                <ion-button color="danger" icon-only *ngIf="ml.upvoted" (click)="onIconClick(ml, i)">
                                    <ion-icon name="heart" class="heart-icon"></ion-icon>
                                </ion-button>
                            </div>
                        </div>
                        <div [hidden]="!hideMe[ml.id]">
                            <ion-item>
                                <ion-label>Toewijzen aan:</ion-label>
                                <ion-select [(ngModel)]="selectedEmployeeIds" multiple="true" (ionChange)="onAssignToChange()" placeholder="Kies technische werknemer(s)">
                                  <ion-select-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</ion-select-option>
                                </ion-select>
                              </ion-item>
                              <ion-button fill="outline" size="small" class="assign" [disabled]="disableToewijzenButton" (click)="onToewijzenClick(ml)">Toewijzen</ion-button>
                              <ion-button fill="clear" size="small" class="assign" (click)="onCancelOrCancelClick(ml.id)">{{annuleerOrSluitenText}}</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-button (click)='ExportJson()' class="exportbutton" id="export" color="danger">Lijst Exporteren
    </ion-button> -->
    <ion-button (click)="exportExcel()" class="exportbutton" id="export" color="danger">Lijst Exporteren
    </ion-button>
     <table id="excel-table" class="exportcss">
        <tr>       
            <th>Datum</th>
            <th>Melder</th> 
           <th>Locatie</th>  
           <th> Type</th> 
           <th>Beschrijving</th>
           <th>Locatie beschrijving</th>   
        </tr>    
        <tr *ngFor="let ml of kopieLijstVanMeldingen">
            <td>{{ml.date | date:'dd/MM/yy-HHumm'}}</td>
            <td>{{ml.Melder}}</td>
           <td>{{ml.location}}</td>  
           <td>{{ml.type}}</td> 
           <td>{{ml.description}}</td> 
           <td>{{ml.locationDescription}}</td> 
        </tr> 
    </table>

    <!-- <ion-card>
        <ion-item>
           <p>{{this.adalService.userInfo.profile.name}}</p>
        </ion-item>
    </ion-card> -->

    <ion-fab (click)="addMelding()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>