<ion-header>
    <ion-toolbar color="danger">
        <ion-title class="ion-text-center">
            rapporteringslijst
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>

   <ion-card *ngFor="let d of melding" (click)="detailMelding(d)">
        <ion-card-content>
            <ion-card-title>
                {{d.melder}}
            </ion-card-title>
            <ion-card-subtitle>{{d.datum}}</ion-card-subtitle>
            <p>{{d.type}}</p>
            <p>{{d.locatie}}</p>
        </ion-card-content>
    </ion-card>

    <ion-fab (click)="addMelding()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
