ion-content ion-toolbar {
    --background: translucent;
}
ion-searchbar {
    text-align:center;
}

#filter {
    margin:auto;
    text-align:center;
}

#sortingList {
    margin:auto;
    width: 18%;
    display: inline-block;
}

#sortingList ion-label{
    font-size: 12px;
}

#toggleOD {
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-left: 15%;
    font-size: 12px;
}

#toggleOD p, ion-toggle{
    float: left;
}

ion-grid {
    margin:auto;
    width:70%;
}



.box1 {
    position: relative;
}

.description {
    position: relative;
}

.upvote {
    position: absolute; 
    bottom: 0px; 
    right: 0px;
}

.upvote p {
    text-align: center;
}

.heart-icon {
    font-size: 35px;
}

.exportbutton {
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 80%;
    margin-bottom: 30px;
}