<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        <ion-title class="ion-text-center">
            Instellingen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-avatar slot="start">
            <img src="https://toppng.com/uploads/preview/beautiful-icon-vector-shield-marvel-free-icons-and-avengers-a-symbol-11553501608y8qjotnyh0.png">
        </ion-avatar>
        <ion-label>
            <h3>{{name}}</h3>
            <p>{{pNumber}}</p>
        </ion-label>
    </ion-item>


    <ion-list>
        <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Toggle Dark Theme</ion-label>
            <ion-toggle color="danger" slot="end" [ngModel]="darkMode" (ionChange)="cambio()"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-button class="logoutButton" color="danger" (click)="logout()">Log out</ion-button>

</ion-content>