<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title class="ion-text-center">
            Instellingen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item>
        <ion-avatar slot="start">
            <img src="https://toppng.com/uploads/preview/beautiful-icon-vector-shield-marvel-free-icons-and-avengers-a-symbol-11553501608y8qjotnyh0.png">
        </ion-avatar>
        <ion-label>
            <h3>{{name}}</h3>
            <p>{{pNumber}}</p>
        </ion-label>
    </ion-item>


    <ion-list>
        <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Toggle Dark Theme</ion-label>
            <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="cambio()"></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content>