 @media (min-width: 576px) {
     ion-card {
         display: flex;
         flex-direction: column;
         width: 50% !important;
         margin: 2% auto !important;
     }
 }
 
 .midden {
     text-align: center;
     font-size: 20px;
     font-weight: bold;
 }
 
 #form {
     padding: 20px;
     //position: static; 
     margin-top: 40px;
     @media screen and (min-width: 576px) {
         // browser
         width: 945px;
         margin-left: auto;
         margin-right: auto;
         background-color: #ffffff;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     @media (max-width: 576px) {
         // mobile
         box-shadow: 10px 2px 50px grey;
         background-color: #ffffff;
         margin-bottom: 5%;
     }
 }
 
 button.accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 50%;
     margin-left: 25%;
     margin-right: auto;
     border: none;
     text-align: left;
     outline: none;
     font-size: 25px;
     transition: 0.4s;
     font-weight: bold;
 }
 
 button.accordion.active,
 button.accordion:hover {
     background-color: #ddd;
 }
 
 button.accordion:after {
     content: '\02795';
     font-size: 13px;
     color: #777;
     float: right;
     margin-left: 5px;
 }
 
 button.accordion.active:after {
     content: "\2796";
 }
 
 div.panel {
     padding: 0 18px;
     background-color: white;
     max-height: 0;
     overflow: hidden;
     transition: 0.6s ease-in-out;
     opacity: 0;
 }
 
 div.panel.show {
     opacity: 1;
     max-height: 500px;
 }
 
 //  .accordion {
 //      background-color: #eee;
 //      color: #444;
 //      cursor: pointer;
 //      padding: 18px;
 //      width: 50%;
 //      margin-left: 25%;
 //      margin-right: auto;
 //      //  border: none;
 //      //  outline: none;
 //      font-size: 25px;
 //      font-weight: bold;
 //  }
 //  .active,
 //  .accordion:hover {
 //      background-color: #ccc;
 //  }
 //  .panel {
 //      padding: 0 18px;
 //      display: none;
 //      background-color: white;
 //      overflow: hidden;
 //  }